# Github C++.gitignre
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Added more ignore from ViSP .gitignore
*~
*/CMakeFiles
CMakeCache.txt
.DS_Store
CMakeLists.txt.user*

data/
